@charset "utf-8";

/* data
-----------------------------------------------------------------*/
/*#data .main .sample{
	background: url(../img/sample.png) no-repeat 0 100%;
	background-size: 100% auto;
}*/
#data .main{
	overflow: hidden;
	position: relative;
	z-index: 100;
}
#data .main h1{
	margin: 40px auto 0;
	width: 250px;
}
#data .vertical-txt{
	display: inline-block;
	transform: rotate(90deg);
}
#data span.bg{
	position: absolute;
	background-color: #f9f6c9;
	bottom: 0;
	display: block;
	height: 45%;
	width: 100%;
	z-index: 10000;
}
