@charset "utf-8";

/* common
-----------------------------------------------------------------*/
#page{
	width: 300%;
}
#wrapper{
	height: 100%;
}
.sec{
	height: 100%;
	float: left;
	position: relative;
	width: 33%; /* js制御 */
}


.viewport {
	width: 320px;
	overflow: hidden;
}

.flipsnap {
	width: 960px; /* 320px(item width) * 3(item count) */
}
.flipsnap:after {

}

.item {
	float: left;
}