@charset "utf-8";

/* common
-----------------------------------------------------------------*/
/*wrapper*/

#wrapper {
    width: 200px;
    margin: 98px auto;
}
#wrapper h1 {
    background: url("../img/front_hituzi.png") no-repeat 0 100%;
    background-size: 192px auto;
    width: 220px;
    height: 150px;
    padding-bottom: 70px;
    text-align: center;
}
#wrapper p {
    margin-top: 26px;
}
#wrapper span.img {
    display: block;
    margin: 34px auto 0;
    width: 106px;
}